@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
}

header {
	background-color: #d47a30;
	color: white;
	padding: 1rem;
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 2rem auto;
	padding: 1rem;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button {
	display: block;
	margin: 0.5rem 0;
	padding: 0.7rem;
	text-align: center;
	background: #d47a30;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.button:hover {
	background: #a07b45;
}

form {
	margin: 1rem 0;
}

form input, form select {
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.submit-button {
	background: #d47a30;
	color: white;
	border: none;
	padding: 0.7rem;
	width: 100%;
	cursor: pointer;
}

.submit-button:hover {
	background: #a07b45;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1rem 0;
}

table th, table td {
	padding: 0.8rem;
	text-align: left;
	border: 1px solid #ddd;
}

table th {
	background-color: #f4f4f4;
}